/* app */
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* sign up page */
.SignUp {
  text-align: center;
}

.Signup-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/* cabinet page */
.page-title {
  text-align: center;
  padding-bottom: 20px;
}